---
http_interactions:
- request:
    method: get
    uri: https://saudesimples-importacao-cnes-api.qa.om30.cloud/api/v1/unidades_saude?cnes=2038013
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - etag
    body:
      encoding: UTF-8
      string: '{"success":true,"data":{"unidades_de_saude":[{"id":22,"nome_fantasia":"CAPS
        A D ALCOOL E DROGAS HORTOLANDIA","cnpj":"67995027000132","cnes":"2038013","tipo_unidade_saude":"70","descricao_tipo_unidade_saude":"CENTRO
        DE ATENCAO PSICOSSOCIAL","codigo_subtipo_unidade_saude":"005","descricao_subtipo_unidade_saude":"CAPS
        ALCOOL E DROGA","telefone1":"","telefone2":"","fax":"","email":"","created_at":"2024-06-10T22:58:57.937Z","enderecos":[{"id":23,"ownerable_type":"UnidadeSaude","ownerable_id":22,"cep":"13184-060","uf":"SP","logradouro":"RUA
        JOAO FRUCTUOSO MIRANDA FILHO","numero":"460","bairro":"{\"descricao_bairro\"=\u003e\"PQ
        ORTOLANDIA\"}","codigo_ibge":"351907","complemento":"","ponto_referencia":"","created_at":"2024-06-10T22:58:58.029Z"},{"id":59,"ownerable_type":"UnidadeSaude","ownerable_id":22,"cep":"13184060","uf":"SP","logradouro":"RUA
        JOAO FRUCTUOSO MIRANDA FILHO","numero":"460","bairro":"PQ ORTOLANDIA","codigo_ibge":"3519071","complemento":"","ponto_referencia":"","created_at":"2024-06-28T01:24:32.998Z"}],"equipes":[],"complexidades":[{"id":33,"unidade_saude_id":22,"sigla":"MC","created_at":"2024-06-10T22:58:58.122Z"},{"id":34,"unidade_saude_id":22,"sigla":"AB","created_at":"2024-06-10T22:58:58.144Z"}],"lotacoes":[{"id":728,"unidade_saude_id":22,"profissional_id":603,"equipe_id":null,"cnes":"2038013","codigo_ine":"","codigo_cbo":"251510","microarea":"","created_at":"2024-06-10T23:01:44.330Z"},{"id":729,"unidade_saude_id":22,"profissional_id":604,"equipe_id":null,"cnes":"2038013","codigo_ine":"","codigo_cbo":"251510","microarea":"","created_at":"2024-06-10T23:01:44.333Z"},{"id":778,"unidade_saude_id":22,"profissional_id":645,"equipe_id":null,"cnes":"2038013","codigo_ine":"","codigo_cbo":"322205","microarea":"","created_at":"2024-06-10T23:01:52.630Z"},{"id":779,"unidade_saude_id":22,"profissional_id":646,"equipe_id":null,"cnes":"2038013","cod[...]
