---
http_interactions:
- request:
    method: get
    uri: https://saudesimples-importacao-cnes-api.qa.om30.cloud/api/v1/unidades_saude?cnes=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - etag
    body:
      encoding: UTF-8
      string: '{"success":true,"data":{"unidades_de_saude":[{"id":58,"nome_fantasia":"AMBULATORIO
        DA CRIANCA","cnpj":null,"cnes":"2394804","tipo_unidade_saude":"01","descricao_tipo_unidade_saude":"POSTO
        DE SAUDE","codigo_subtipo_unidade_saude":null,"descricao_subtipo_unidade_saude":null,"telefone1":null,"telefone2":null,"fax":null,"email":null,"created_at":"2024-07-01T10:58:15.175Z","enderecos":[{"id":62,"ownerable_type":"UnidadeSaude","ownerable_id":58,"cep":"78210-012","uf":"MT","logradouro":"RUA
        13 DE JUNHO","numero":"383","bairro":"{\"descricao_bairro\"=\u003e\"CENTRO\"}","codigo_ibge":"510250","complemento":null,"ponto_referencia":null,"created_at":"2024-07-01T10:58:15.188Z"}],"equipes":[],"complexidades":[],"lotacoes":[]},{"id":50,"nome_fantasia":"ATENDE
        COTIA","cnpj":null,"cnes":"4303407","tipo_unidade_saude":"36","descricao_tipo_unidade_saude":"CLINICA/CENTRO
        DE ESPECIALIDADE","codigo_subtipo_unidade_saude":null,"descricao_subtipo_unidade_saude":null,"telefone1":null,"telefone2":null,"fax":null,"email":null,"created_at":"2024-06-21T11:49:27.545Z","enderecos":[{"id":53,"ownerable_type":"UnidadeSaude","ownerable_id":50,"cep":"06717-600","uf":"SP","logradouro":"AVENIDA
        PROFESSOR MANOEL [...]
- request:
    method: get
    uri: https://cepsimples.om30.cloud/v1/ceps/78210-012
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - z0wg2HNKAL
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - etag
    body:
      encoding: UTF-8
      string: '{"cep":"78210012","logradouro":"13 de Junho","bairro":"Centro","localidade":"Cáceres","uf":"MT","ibge":"5102504","tipo":"Rua","id":null}'
  recorded_at: Wed, 03 Jul 2024 20:14:48 GMT
recorded_with: VCR 6.2.0
