---
http_interactions:
- request:
    method: get
    uri: https://saudesimples-importacao-cnes-api.qa.om30.cloud/api/v1/equipes?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - etag
    body:
      encoding: UTF-8
      string: '{"success":true,"data":{"equipes":[{"id":1,"unidade_saude_id":1,"id_tipo_equipe":"","tipo_equipe":"70","sigla_equipe":"ESF","descricao_equipe":"ESF
        - EQUIPE DE SAUDE DA FAMILIA","codigo_ine":"0001526189","codigo_area":"0201","descricao_area":"0201","nome_referencia":"EQUIPE
        TERESA CRISTINA - VERDE","data_desativacao":null,"created_at":"2024-06-10T22:58:50.625Z","unidade_saude":{"id":1,"nome_fantasia":"UBS
        JD AMANDA I","cnpj":"67995027000132","cnes":"2040603","tipo_unidade_saude":"02","descricao_tipo_unidade_saude":"CENTRO
        DE SAUDE/UNIDADE BASICA","codigo_subtipo_unidade_saude":"","descricao_subtipo_unidade_saude":"","telefone1":"","telefone2":"","fax":"","email":""},"lotacoes":[{"id":688,"unidade_saude_id":1,"profissional_id":575,"equipe_id":1,"cnes":"2040603","codigo_ine":"0001526189","codigo_cbo":"322205","microarea":"","created_at":"2024-06-10T23:01:35.534Z"},{"id":689,"unidade_saude_id":1,"profissional_id":576,"equipe_id":1,"cnes":"2040603","codigo_ine":"0001526189","codigo_cbo":"322205","microarea":"","created_at":"2024-06-10T23:01:35.537Z"},{"id":1031,"unidade_saude_id":1,"profissional_id":832,"equipe_id":1,"cnes":"2040603","codigo_ine":"0001526189","codigo_cbo":"515105","microarea":"","created_at":"2024-06-10T23:02:40.223Z"},{"id":1030,"unidade_saude_id":1,"profissional_id":831,"equipe_id":1,"cnes":"204[...]
