---
http_interactions:
- request:
    method: get
    uri: https://saudesimples-integracao-sigtap.qa.om30.cloud/api/v1/ocupacoes?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - etag
    body:
      encoding: UTF-8
      string: '{"success":true,"data":{"ocupacoes":[{"id":1,"codigo_ocupacao":"010105","nome_ocupacao":"Oficial
        General da Aeronáutica","created_at":"2024-07-16T00:50:18.808Z","updated_at":"2024-07-16T00:50:18.808Z"},{"id":2,"codigo_ocupacao":"010110","nome_ocupacao":"Oficial
        General do Exército","created_at":"2024-07-16T00:50:18.821Z","updated_at":"2024-07-16T00:50:18.821Z"},{"id":3,"codigo_ocupacao":"010115","nome_ocupacao":"Oficial
        General da Marinha","created_at":"2024-07-16T00:50:18.832Z","updated_at":"2024-07-16T00:50:18.832Z"},{"id":4,"codigo_ocupacao":"010205","nome_ocupacao":"Oficial
        da Aeronáutica","created_at":"2024-07-16T00:50:18.843Z","updated_[...]
