---
http_interactions:
- request:
    method: get
    uri: https://saudesimples-importacao-cnes-api.qa.om30.cloud/api/v1/equipes?page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - etag
    body:
      encoding: UTF-8
      string: '{"success":true,"data":{"equipes":[]},"paginate":{"total_count":92,"total_pages":4,"current_page":10,"next_page":null,"prev_page":null,"first_page":false,"last_page":false,"out_of_range":true,"current_per_page":25,"default_per_page":25}}'
  recorded_at: Sun, 28 Jul 2024 14:00:00 GMT
recorded_with: VCR 6.2.0
